<!-- HEADER -->
<div class="columns is-mobile sticky-header">
  <div class="column is-3">
    <div class="navbar h-170 rounded ml-5 mt-5 has-background-black-ter">
      <div class="column has-text-centered has-text-weight-medium is-size-3">
        <a class="has-text-white" href="/">One Man's Trash</a>
        <figure class="image is-96x96 mx-auto mt-2">
          <a href="/">
            <img class="is-rounded"
              src="https://cdn.drawception.com/drawings/872993/pDGFQJs4Lh.png">
          </a>
        </figure>
      </div>
    </div>
  </div>
  <div class="column">
    <nav class="has-background-black-ter h-90 rounded level-right mr-5 mt-5 ml-5 is-mobile" role="navigation" aria-label="main navigation">
      <div class="" id="nav-links">
        <div class="is-mobile level mr-5">
          {{#if logged_in}}
          <a class="level-item navbar-item has-text-white has-background-black-ter" title="Log out" id="logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
          <a class="level-item navbar-item has-text-white has-background-black-ter" title="Profile" href="../profile"><i class="fas fa-user-circle fa-2x"></i></a>
          <a class="level-item navbar-item has-text-white has-background-black-ter" title="Create new post" href="../new-post"><i class="fas fa-plus fa-2x"></i></a>
          {{else}}
          <a class="level-item navbar-item has-text-white has-background-dark" title="Log in" href="../login"><i class="fas fa-sign-in-alt fa-2x"></i></a>
          {{/if}}
        </div>
      </div>
    </nav>
  </div>
</div>