<div class="columns is-mobile">
    <div class="column is-3">
      <div class="navbar h-170 rounded ml-5 mt-5 is-dark">
        <div class="container has-text-weight-medium is-size-4">
          One Man's Trash
        </div>
      </div>
    </div>
    <div class="column is-mobile">
      <nav
        class="navbar h-90 rounded is-dark mr-5 mt-5"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="navbar-brand">
          <!-- <a class="navbar-item"> -->
            <!-- Logo -->
          </a>
        </div>

        <div class="navbar-menu" id="nav-links">
          <div class="navbar-end">
            
            <!-- <a class="navbar-item">Cart</a> -->
            <a class="navbar-item"><i class="fas fa-shopping-cart fa-2x"></i></a>
            <a class="navbar-item"><i class="fas fa-comment fa-2x"></i></a>
            <a class="navbar-item"><i class="fas fa-user-circle fa-2x"></i></a>
            <a class="navbar-item"><i class="fas fa-arrow-circle-down fa-2x"></i></a>
          </div>
        </div>
      </nav>
    </div>
  </div>