<div class="column ml-480">
    <div class="mt-8r mx-6">
        <div class="columns h-823">
            <div class="column has-background-black-ter mt-6 px-5 py-5 rounded mlr-200">
                <form class="form create-product">
                    <div class="form-group mx-3">
                        <label for="product-info" class="label has-text-white has-text-centered is-size-3">Post a
                            new
                            product</label>
                        <input class="form-input input" type="text" id="product-name" placeholder="Product Name">
                        <textarea class="textarea my-5 h-300" id="product-description"
                            placeholder="Product Description"></textarea>
                        <input class="form-input input mb-24" type="text" placeholder="Zipcode" id="product-zipcode" />

                        <div class="select">
                            <select id="categories">
                                <option selected>Product Category</option>
                                <option>Appliances</option>
                                <option>Furniture</option>
                                <option>Electronics</option>
                                <option>Tools</option>
                                <option>Home</option>
                                <option>Gaming</option>
                                <option>Outdoor</option>
                                <option>Apparel</option>
                            </select>
                        </div>
                        <div class="file has-name">
                            <label class="file-label mt-3">
                                <input class="file-input" id="fileUpload" type="file" name="img_url">
                                    <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                    </span>
                                    <span class="file-name has-background-white" id="file-name">
                                        
                                    </span>
                            </label>
                        </div>
                        <button class="button is-primary mt-3" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
         <script src="./js/createProduct.js"></script>
    </div>
</div>