<div class="column ml-480">
    <div class="mt-8r mx-6">
        <div class="columns h-855 mlr-227-200">
            <div class="column has-background-dark mt-6 px-5 py-5 rounded mlr-200">
                <form class="form create-product">
                    <div class="form-group">
                        <label for="product-info" class="label has-text-white has-text-centered is-size-4 mt-55">Post a
                            new
                            product</label>
                        <input class="form-input input" type="text" id="product-name" placeholder="Product Name">
                        <textarea class="textarea my-5 h-300" id="product-description"
                            placeholder="Product Description"></textarea>
                        <input class="form-input input mb-24" type="text" placeholder="Zipcode" id="product-zipcode" />

                        <div class="select">
                            <select id="categories">
                                <option selected>Product Category</option>
                                <option>Appliances</option>
                                <option>Furniture</option>
                                <option>Electronics</option>
                                <option>Tools</option>
                            </select>
                        </div>
                        <button class="button is-primary" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>