<div class="column mt-3r">
    
    <div class="columns">
        <div class="column">
            <div class="card card-border">
                <div class="card-image">
                    <figure class="image">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image" />
                    </figure>
                </div>
            </div>
            <p class="mt-3">{{product_name}}</p>
            <p>{{description}}</p>
        </div>
    </div>
</div>