<div class="columns">
    <div class="column">
        <div class="card mt-7r">
            <div class="card-content">
                <div class="card-image">
                    <figure class="image rounded ml-5 mr-5">
                        <img src="{{img_url}}"
                            alt="Placeholder image">
                    </figure>
                </div>
                <div class="productName ml-5 mr-5">
                    <p class="is-size-3 has-text-weight-bold">{{product_name}}</p>

                </div>
                <br>
                <div class="itemDescription ml-5 mr-5">
                    <p class="is-size-4 has-text-weight-bold b-bot">Description</p>
                    {{description}}
                </div>
                <div class="media">
                    <div class="media-content ml-5 mr-5 mt-3">
                        <p class="title is-4">John Smith</p>
                        <p class="subtitle is-6 b-bot">@johnsmith</p>
                    </div>
                </div>

                <div class="itemLocation ml-5 mr-5">
                    <p class="is-size-5 has-text-weight-bold">Location</p>
                    <p class="b-bot">{{location_zipcode}}</p>
                </div>
            </div>
        </div>
    </div>
</div>



