<div class="columns">
    <div class="column">
        <div class="card mt-7r">
            <div class="card-content">
                <div class="card-image">
                    <figure class="image rounded ml-5 mr-5">
                        <img src="https://embassycleaners.com/wp-content/uploads/2016/05/old-sofa-couch.jpg"
                            alt="Placeholder image">
                    </figure>
                </div>
                <div class="productName ml-5 mr-5">
                    <p class="is-size-3 has-text-weight-bold">Old Shitty Couch</p>

                </div>
                <br>
                <div class="itemDescription ml-5 mr-5">
                    <p class="is-size-6 has-text-weight-bold b-bot">Description</p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum consequatur animi assumenda
                    cupiditate rem laboriosam maxime velit necessitatibus inventore facere iure iste rerum fugiat
                    laborum, illo nesciunt quia, ipsum ea neque, pariatur eius illum. Cupiditate sint vel delectus?
                    Nobis, voluptatem. Repellendus ipsam atque incidunt provident consequatur nostrum officia officiis
                    libero obcaecati nemo maiores beatae, aliquam quae saepe error commodi voluptate accusantium labore
                    voluptatem exercitationem, blanditiis eum laudantium quo a? Id quam quidem molestiae soluta, eveniet
                    nobis ipsa autem architecto non voluptatum explicabo dolorem neque quo magni incidunt nulla
                    perspiciatis eaque molestias ex laboriosam nesciunt. Dolorum minima ipsam ut voluptates incidunt.
                </div>
                <div class="media">
                    <div class="media-content ml-5 mr-5 mt-3">
                        <p class="title is-4">John Smith</p>
                        <p class="subtitle is-6 b-bot">@johnsmith</p>
                    </div>
                </div>
                
                <div class="itemLocation ml-5 mr-5">
                    <p class="is-size-5 has-text-weight-bold">Location</p>
                    <p class="b-bot">27519</p>
                </div>
            </div>
        </div>
    </div>
</div>





