<div class="rounded h-730 mx-3 has-background-black-ter">

    <figure class="image is-128x128 mb-4 mx-auto">
        <img class="is-rounded pt-3"
            src="https://www.mobafire.com/images/avatars/summoner-icon-harrowing-burning-hunger-brand.png">
    </figure>
    <label for="email-update" class="label p-auto user-info has-text-centered has-text-white">Email:<span
            id="current-email">
            {{email}}</span></label>

    <form class="form update-email-form mb-5 mx-5">
        <div class="form-group">
            <div class="">
                <h5 class="user-info is-size-3 has-text-centered has-text-white">Update Profile</h5>
            </div>
            <input class="form-input input pb-2" type="text" placeholder="New Email" id="email-update" />
            <button class="button is-primary mt-3" type="submit">Update</button>
        </div>
    </form>

    <form class="form update-name-form mb-5 mx-5">
        <div class="form-group">
            <label for="name-update" class="label user-info">Name:</label>
            <input class="form-input input" type="text" placeholder="New Name" id="name-update" />
            <button class="button is-primary mt-3" type="submit">Update</button>
        </div>
    </form>

    <form class="form update-password-form mx-5">
        <div class="form-group">
            <label for="password-update" class="label user-info">Password:</label>
            <input class="form-input input" type="text" placeholder="New Password" id="password-update" />
            <button class="button is-primary mt-3" type="submit">Update</button>
        </div>
    </form>
</div>