<!-- SIDENAV -->
<div class="has-text-centered">
  <div class="category ml-6 mt-5">
    <h2 class="whichCategory is-size-4 mr-3 b-bot">SHOP BY CATEGORY</h2>
  </div>
</div>
<div class="rounded h-550 ml-6 mr-5 mt-5 pt-35 has-background-black-ter">
  {{#each categories}}
  <a class="currentCat pt-35 has-text-centered has-text-white is-block is-size-5"
    href="../category/{{category_name}}">{{category_name}}</a>
  {{/each}}
</div>