
<!-- SIDENAV -->
<div class="">
  <input class="is-dark ml-5 pl-5 rounded border w-95 h-35" type="text" placeholder="Search..." />
  <i class="fas fa-search" aria-hidden="true" style="position: absolute; left: 42px; top: 21px"></i>
</div>

<div class="filters ml-5 mt-5">
  <h2 class="filterText b-bot">FILTERS</h2>
  <h2 class="location" id="zipCode">27519</h2>
  <input class="is-dark rounded border w-full h-35" id="myInput" type="text" placeholder="Enter Zipcode..." />
  <button onclick="changeZip()">Enter</button>
</div>

<div class="has-text-centered">
  <div class="category ml-5 mt-5">
    <h2 class="whichCategory is-size-4 b-bot">SHOP BY CATEGORY</h2>
  </div>
  <div class="navbar rounded ml-5 mt-5 is-dark h-1185" style="background-color: #4c4c47"></div>
</div>
