{{!-- Main.handlebars is always rendered --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>One Man's Trash</title>
  <script src="https://kit.fontawesome.com/c1070ced3f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css"/>
  
  {{!-- Leaving jass stylesheet for development until frontend gets entirely integrated --}}
  {{!-- <link rel="stylesheet" href="/css/jass.css">  --}}
  
</head>

<body>
    <div>
      {{{ body }}}
    </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>