{{> header}}

<div class="field mt-220">
  <div class="columns">
    <div class="column is-3 relative sticky-sidenav">
      {{> sideNav}}
    </div>
    <div class="column ml-480">
      {{> mainContent}}
    </div>
  </div>
</div>