{{> header}}

<div class="field">
  <div class="columns">
    <div class="column is-3 relative">
      {{> sideNav}}
    </div>
    <div class="column">
      {{> mainContent}}
    </div>
  </div>
</div>