{{!-- Template for login/registration page --}}

<div class="columns">
  <div class="column"></div>
  <div class="column is-narrow">
    <h1 class="title is-1 has-text-centered">Login</h1>

    <form class="form login-form box has-background-dark">
      <div class="field">
        <label for="email-login" class="label">email:</label>
        <input class="form-input input" type="text" id="email-login" placeholder="Email" />
      </div>
      <div class="field">
        <label for="password-login" class="label"></label>
        <input class="form-input input" type="password" id="password-login" placeholder="Password"/>
      </div>
      <div class="field">
        <p class="control">
        <button class="button is-success" type="submit">login</button>
        </p>
      </div>
    </form>
  </div>
  <div class="column is-narrow">
    <h1 class="title is-1 has-text-centered">Signup</h1>

    <form class="form signup-form box has-background-dark">
      <div class="field">
        <label for="name-signup" class="label"></label>
        <input class="form-input input" type="text" id="name-signup" placeholder="Name" />
      </div>
      <div class="field">
        <label for="email-signup" class="label"></label>
        <input class="form-input input" type="text" id="email-signup" placeholder="Email"/>
      </div>
      <div class="field">
        <label for="password-signup" class='label'></label>
        <input class="form-input input" type="password" id="password-signup" placeholder="Password"/>
      </div>
      <div class="field">
        <button class="button is-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
  <div class="column"></div>
</div>

<script src="./js/login.js"></script>
