<div class="all-products">
    {{#each allProducts}}
    <div class='card'>
        <div class='card-title'>
            {{product_name}}
        </div>
        <div class="card-body">
            <div class="card-text">
                {{description}}
            </div>
        </div>
    </div>
    {{/each}}
</div>