{{!-- Template for a specific user's profile page --}}
{{> header}}

<div class="field mt-220">
  <div class="columns">
    <div class="column is-3 relative sticky-sidenav">
      {{> sideNav}}
    </div>
    {{> profileContent}}
  </div>
</div>