{{!-- Template for a specific user's profile page --}}
{{> header}}

<div class="field mt-220">
  <div class="columns">
    <div class="column is-3 relative sticky-sidenav">
      {{> sideNav}}
    </div>
<<<<<<< HEAD
    <div class="column mt-6 ml-6 box has-background-dark">
      <div class="columns">
        <div class="column">
      <h3 class="user-info">Your items</h3>

      <p class="user-info">(User's posted items here maybe?)</p>
      <p class="user-info"> item item item item item item item item item item item item</p>

      {{!-- Button to create a new product from user's profile page, for testing purposes --}}
      <form class="form create-product">
        <div class="form-group">
          <label for="product-info" class="label">Post a new product</label>
          <input class="form-input input" type="text" id="product-name" placeholder="Product Name">
          <textarea class="textarea mt-3" id="product-description" placeholder="Product Description"></textarea>
          <input class="form-input input mt-3" type="text" placeholder="Zipcode" id="product-zipcode" />
          <div class="select mt-3">
            <select id="categories">
              <option selected>Product Category</option>
              <option>Appliances</option>
              <option>Furniture</option>
              <option>Electronics</option>
              <option>Tools</option>
            </select> <br>
            <H1 class="user-info">Please Insert an image</H1>
            <div class="file mt-3">
              <label class="file-label">
                <input class="file-input" id="fileUpload" type="file" name="product_image">
                  <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                  </span>
              </label>
            </div>
          </div>
          <button class="button is-primary mt-3" type="submit">Create</button>
        </div>
      </form>
        </div>
      </div>
    </div>
    <div class="column"></div>

  </div>
=======
    {{> profileContent}}
>>>>>>> 9bb5626e88959b4e10f7d418a5ed51769e97ffa8
  </div>
</div>