{{!-- Template for a specific user's profile page --}}

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
    <p>(This is a protected user route)</p>
    <p>Currently for development, I set sessions to last for only 60 seconds</p>
  </div>
</div>
