{{!-- Template for a specific user's profile page --}}

<div class="columns">
  <div class="column">
    <h2 class="title is-1 has-text-centered pt-6">Welcome, {{name}}!</h2>
  <div class="columns">

    <div class="column"></div>
    
    <div class="column  is-narrow mt-6 ml-6 box has-background-dark">

      <figure class="image is-128x128 mb-4">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
      </figure>

      <h5 class="user-info">Update profile information</h5>

      <form class="form update-email-form mb-5">
        <div class="form-group">
          <label for="email-update" class="label pb-2 user-info">Email: (currently <span id="current-email">{{email}}</span>)</label>
          <input class="form-input input pb-2" type="text" placeholder="New Email" id="email-update" />
          <button class="button is-primary mt-3" type="submit">Update email</button>
        </div>
      </form>

      <form class="form update-name-form mb-5">
        <div class="form-group">
          <label for="name-update" class="label user-info">Name:</label>
          <input class="form-input input" type="text" placeholder="New Name" id="name-update" />
          <button class="button is-primary mt-3" type="submit">Update name</button>
        </div>
      </form>

      <form class="form update-password-form">
        <div class="form-group">
          <label for="password-update" class="label user-info">Password:</label>
          <input class="form-input input" type="text" placeholder="New Password" id="password-update" />
          <button class="button is-primary mt-3" type="submit">Update password</button>
        </div>
      </form>

    </div>
    <div class="column mt-6 ml-6 box has-background-dark">
      <div class="columns">
        <div class="column">
      <h3 class="user-info">Your items</h3>

      <p class="user-info">(User's posted items here maybe?)</p>
      <p class="user-info"> item item item item item item item item item item item item</p>

      {{!-- Button to create a new product from user's profile page, for testing purposes --}}
      <form class="form create-product">
        <div class="form-group">
          <label for="product-info" class="label">Post a new product</label>
          <input class="form-input input" type="text" id="product-name" placeholder="Product Name">
          <textarea class="textarea mt-3" id="product-description" placeholder="Product Description"></textarea>
          <input class="form-input input mt-3" type="text" placeholder="Zipcode" id="product-zipcode" />
          <div class="select mt-3">
            <select id="categories">
              <option selected>Product Category</option>
              <option>Appliances</option>
              <option>Furniture</option>
              <option>Electronics</option>
              <option>Tools</option>
            </select>
          </div>
          <button class="button is-primary mt-3" type="submit">Create</button>
        </div>
      </form>
        </div>
      </div>
    </div>
    <div class="column"></div>

  </div>
  </div>
</div>

<script src="./js/updateInfo.js"></script>
<script src="./js/createProduct.js"></script>