header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.bg-grey {
  background-color: #4c4c47;
}

.h-90 {
  height: 90px;
}

.h-170 {
  height: 170px;
}

.h-1185 {
  height: 1185px;
}

.h-35 {
  height: 35px;
}

.mb-95 {
  margin-top: 95px;
}

.mt-230{
  margin-top: 230px;
}

.mt-3r {
  margin-top: -3rem;
}

.mt-35 {
  margin-top: 35px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-105:not(:first-child) {
  margin-top: 105px;
}

.ml-2r {
  margin-left: 2rem;
}

.ml-55 {
  margin-left: 55px;
}

.pt-35:not(:first-child) {
  padding-top: 35px;
}

.b-bot {
  border-bottom: 1px solid rgb(153, 25, 25);
}

.border {
  border: 1px solid black
}

.card-border {
  border: 1px solid rgb(153, 25, 25);
}

.w-95 {
  width: 95%;
}

.w-full {
  width: 100%;
}

.relative {
  position: relative;
}

.shelf-header {
  position: absolute;
  top: -75px;
  left: -22px;
}
